
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="container">
    <form>
        <div class ="form group">
            <label for="messagecontent">New Message</label>
            <br>
            <br>
            <input type="text" [(ngMode)]="messagecontent" name="messagecontent" id="messagecontent" class="form-control"/>
        </div>
        <br>
        <div class="form-group">
            <button (click)="chat()" class="btn btn-primary">Chat</button>
        </div>
    </form> 

    <h3>Chat Messages</h3>
    <ul>
        <li *ngFor="let message of messages">{{message}}</li>
    </ul>    
</div>